@import "../variables";
@import "../mixin";
@import "../fonts";

.complain {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  @include font;
  padding-top: 10%;

  &-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    border: 2px solid black;
    padding: 30px;
    width: 500px;
    @media (max-width: 600px) {
      width: 250px;
    }

    &__title {
      margin: 10px auto;
      width: 60%;
      font-size: 28px;
      text-align: center;
      @media (max-width: 600px) {
        line-height: 25px;
      }
    }

    &__checkbox {
      margin: 10px;
    }

    &__description {
      cursor: pointer;
    }

    &__check {
      margin: 5px;
      cursor: pointer;
    }

    &__btn {
      margin: 20px 10px 0;
      text-align: right;
      &-send {
        color: white;
        background-color: rgba(255, 29, 29, 0.8);
      }
    }

    &__btn button {
      padding: 15px;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      font-weight: bold;
    }
  }
}


