@import "../variables";
@import "../mixin";
@import "../fonts";

.menu {
  visibility: hidden;
  max-width: 300px;
  position: absolute;
  bottom: 13%;
  right: 3%;
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.6s ease;
    &-content {
      @include font;
        display: flex;
        flex-direction: column;
        background: #ffffff;
        border-radius: 30px;
        border: 1px solid #d2d1d1;
        padding: 15px;
        text-align: center;
        &__hide {
          margin: 10px 0;
        }
        &__add, &__complain, &__hide{
          border: none;
          border-radius: 5px;
          background: #ffffff;
          padding: 5px;
          @include font;
          cursor: pointer;
        }
        &__add:hover{
          border: none;
          border-radius: 5px;
          background: #d3d2d2;
          padding: 5px;
          @include font;
          cursor: pointer;
        }
        &__complain:hover{
          border: none;
          border-radius: 5px;
          background: #d3d2d2;
          padding: 5px;
          @include font;
          cursor: pointer;
        }
        &__hide:hover{
          border: none;
          border-radius: 5px;
          background: #d3d2d2;
          padding: 5px;
          @include font;
          cursor: pointer;
        }
      }
}

.menu-active {
  transition: visibility 0s 0s, opacity 0.3s ease;;
  opacity: 1;
  visibility: visible;
}