// Заголовки font-size
//              1024             768
$h1:64px;   $h1-1024:48px;   $h1-768:36px;
$h2:36px;   $h2-1024:24px;   $h2-768:18px;
$h3:30px;   $h3-1024:21px;   $h3-768:16px;
$h4:24px;   $h4-1024:18px;   $h4-768:14px;
$h5:18px;   $h5-1024:16px;   $h5-768:13px;
$h6:13px;   $h6-1024:12px;   $h6-768:12px;

// Межсторочный интервал line-height
//              1024             768
$lh1:75px;  $lh1-1024:56px;  $lh1-768:42px;
$lh2:56px;  $lh2-1024:1px;   $lh2-768:1px;
$lh3:49px;  $lh3-1024:32px;  $lh3-768:1px;
$lh4:42px;  $lh4-1024:1px;   $lh4-768:1px;
$ln5:32px;  $lh5-1024:28px;  $lh5-768:21px;
$lh6:28px;  $lh6-1024:21px;  $lh6-768:16px;
$lh7:21px;  $lh7-1024:16px;  $lh7-768:1px;
$lh8:16px;  $lh8-1024:1px;   $lh8-768:1px;
$lh9:15px;  $lh9-1024:14px;  $lh9-768:1px;
$lh10:14px; $lh10-1024:12px; $lh10-768:1px;
